include ../common/button.pug
include ../background-image.pug

main.banner#banner
    +background({
        path: '/assets/images/banner',
        ext: 'png',
        alt: 'banner',
        width: '1920',
        height: '980',
        loading: 'eager'
    }).banner__image
    .banner__watermark
        +picture({
            path: '/assets/images/watermark',
            ext: 'png',
            alt: 'watermark',
            width: '808',
            height: '640'
        })
    section.banner__content
        h2.banner__title Advanced&nbsp;Fleet Management Solution
        p.banner__description The most easy-to-use ELD device and application
        +button.banner__button Get started
