include ../common/button.pug

main.banner
    .banner__image
        img(
            src="/assets/banner.png"
        )
    .banner__watermark
        img(
            src="/assets/watermark.png"
        )
    section.banner__content
        h2.banner__title Advanced&nbsp;Fleet Management Solution
        p.banner__description The most easy-to-use ELD device and application
        +button Get started
