include ../common/button.pug
include ../background-image.pug

main.banner#banner
    +backgroundPicture(
        "/assets/images/banner",
        "png",
        "banner"
    ).banner__image(
        width="1920"
        height="980"
    )
    .banner__watermark
        img(
            src="/assets/images/watermark.png"
        )
    section.banner__content
        h2.banner__title Advanced&nbsp;Fleet Management Solution
        p.banner__description The most easy-to-use ELD device and application
        +button.banner__button Get started
