mixin pricingItem()
    li.price-card
        p.price-card__tag PRO
        p.price-card__price $89
        p.price-card__period Per Month For A Truck
        ul.price-card__list
            li.price-card__item ELD
            li.price-card__item Fleet Management
            li.price-card__item Log Annotiation
            li.price-card__item Asset Tracker
            li.price-card__item IFTA Reports
            li.price-card__item GPS Tracking
            li.price-card__item Tracking History
            li.price-card__item Chat and Walkie talkie
            li.price-card__item Driver Alarm
        +button.price-card__button Get started

section.pricing#pricing
    .pricing__wrapper.container
        +sectionHeader("Pricing Plans", "You can even use our demo version to check the whole system")
        .pricing__divider
        ul.pricing__list
            +pricingItem.pricing__item
            +pricingItem.pricing__item
            +pricingItem.pricing__item
