.benefits {
    &__item {
        width: 100%;
    }

    &__content {
        //
    }

    &__item {
        width: 100%;
        position: relative;
        overflow: hidden;

        &--first {
            height: 660px;
            background-color: #eeeeee;

            .image {
                position: absolute;
                top: -54px;
                left: 50%;
                transform: translate(-92px, 0);
                width: 804px;
                height: 955px;

                img {
                    width: 100%;
                }
            }

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #fff;
                opacity: 0.7;
            }

            .background {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                }
            }

            .benefit-content {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(calc(-100% + 51px), -50%);
                width: 505px;
            }
        }

        &--second {
            height: 625px;

            .shadow,
            .image {
                position: absolute;
                top: 138px;
                right: 50%;
                transform: translate(37px, 0);
                width: 510px;
                height: 420px;
                background-color: #cccccc;
                z-index: 1;
                overflow: hidden;
                border-radius: 15px;

                img {
                    width: 100%;
                }
            }

            .shadow {
                position: absolute;
                top: 138px - 46px;
                transform: translate(37px - 48px, 0);
                background-color: rgba(0, 0, 0, 0.5);
                box-shadow:
                    0 0 6px 0 #0000001A,
                    0 0 12px 0 #0000001A,
                    0 0 44px 0 #0000001A,
                    0 0 89px 0 #0000001A,
                    0 0 153px 0 #0000001A,
                    0 0 268px 0 #0000001A;

            }

            // center: 960
            // left: 834
            .benefit-content {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(126px, -50%);
                width: 425px;
            }
        }

        &--third {
            height: 714px;
            background-color: #eee;

            .image {
                position: absolute;
                top: 104px;
                left: 50%;
                transform: translate(85px, 0);
                width: 569px;
                height: 432px;
                background-color: #cccccc;
                z-index: 1;
                overflow: hidden;
                border-radius: 15px;

                img {
                    width: 100%;
                }
            }

            .image-chat {
                position: absolute;
                bottom: -147px;
                left: 50%;
                transform: translate(-47%, 0);
                background-color: #ccc;
                width: 533px;
                height: 419px;
                z-index: 1;
                overflow: hidden;
                border-radius: 15px;

                img {
                    width: 100%;
                }
            }

            // center: 960
            // left: 834
            .benefit-content {
                position: absolute;
                top: 128px;
                right: 50%;
                transform: translate(32px, 0);
                width: 539px;
            }
        }

        &--four {
            height: 681px;
            color: #ffffff;

            .image {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #cccccc;

                img {
                    width: 100%;
                }

                &::after {
                    content: '';
                    background-color: rgba(0, 0, 0, 0.6);
                    z-index: 1;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }

            // center: 960
            // left: 834
            .benefit-content {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(42px, -50%);
                width: 440px;
                z-index: 1;
            }
        }
    }
}

.benefit-content {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__image {
        width: 80px;
        height: 80px;
        //background-color: #ccc;
        object-fit: contain;

        img {
            height: 100%;
            max-height: 100%;
        }
    }

    &__title {
        font-size: 36px;
        line-height: 46px;
        font-weight: 700;
    }

    &__description {
        font-size: 18px;
        line-height: 22px;
    }
}
