.form {
    background-color: #cccccc;
    padding-top: 106px;
    padding-bottom: 111px;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        max-width: 858px;
        margin: 0 auto;
    }

    &__divider {
        margin: 50px auto;
        height: 2px;
        border-radius: 2px;
        width: 88px;
        background-color: #FF9C00;
    }

    &__form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 40px 30px;
    }

    &__textarea {
        grid-area: 4 / 1 / 4 / 3;
        min-height: 200px;
        box-sizing: border-box;
    }

    &__textarea,
    &__input {
        display: block;
        padding: 16px 32px;
        border-radius: 10px;
        border: 1px solid #000;
    }

    &__call-section {
        width: 100%;
        grid-area: 5 / 1 / 6 / 3;
        display: flex;
        gap: 34px;
    }

    &__button {
        margin-left: auto;
    }
}
