@import "reset.scss";

// Common
@import "common/section-header.scss";
@import "common/button.scss";
@import "common/form-cell.scss";
@import "common/divider.scss";

html * {
    font-family: inherit;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    min-width: 1200px;
}

// Sections
@import "header/header";
@import "banner/banner.scss";
@import "our-products/our-products.scss";
@import "benefits/benefits.scss";
@import "pricing/pricing.scss";
@import "form/form.scss";
@import "footer/footer.scss";
