doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title OnPoint ELD
        link(
            rel="stylesheet"
            href="./index.css"
        )
    body
        include header/header.pug
        include banner/banner.pug
        include our-products/our-products.pug
        include benefits/benefits.pug
        include pricing/pricing.pug
        include form/form.pug
        include footer/footer.pug
