.divider {
    height: 2px;
    width: 88px;
    border-radius: 2px;
    background-color: #FF9C00;

    &--top {
        &-50 {
            margin-top: 50px;
        }
        &-40 {
            margin-top: 40px;
        }
        &-30 {
            margin-top: 30px;
        }
        &-20 {
            margin-top: 20px;
        }
    }
    &--bottom {
        &-50 {
            margin-bottom: 50px;
        }
        &-40 {
            margin-bottom: 40px;
        }
        &-30 {
            margin-bottom: 30px;
        }
        &-20 {
            margin-bottom: 20px;
        }
    }
}
