mixin form-cell(title, description)
    .form-cell
        .form-cell__icon
            block
        .form-cell__content
            .form-cell__title= title
            .form-cell__description= description
