footer.footer
    .footer__wrapper.container
        .footer__logo
        .footer__contacts
            .footer__contact
                .footer__icon
                span.footer__text Example@mail.ru
            .footer__contact
                .footer__icon
                span.footer__text +799999999999
            .footer__contact
                .footer__icon
                span.footer__text Address
        .footer__links
            .footer__link
            .footer__link
            .footer__link
